<style ng-repeat="l in languages">
    ::cue(c.{{l.name}}){
        font-size: {{l.fontSize}}px;
        color: {{l.color}};
    }			
</style>
<div ng-init="sync=false" id="divController" class="divController overflow" ng-show="showDivController"> 
    <span class="close" title="Hide">❌</span>
    <p>Choose languages in the netflix player (or upload them) and they will appear here 
        <span style="color: red">(if you are having trouble please close all other tabs of netflix)</span>:<br>
    <b style="color: red">This extension only intercepts a subtitle if the video is less than 3/4 of total time.</b>
    </p>
    <p style="text-align: center; border: 1px solid #ccc">Sync subtitles:
        <input type="checkbox" ng-model="sync" title="This functions allows you sync subtitles visually, 
choosing one track and setting the same time in another subtitle.">      
        <span style="color: red" ng-show="sync && languages.length > 1">
             <br>Now select below which subtitles you want to sync<br>
             <span style="color: black" ng-show="sync" ng-repeat="l in languages">
                <input type="checkbox" ng-model="l.show" ng-change="showSubtitlesTrack(l)"> {{l.name}} 
             </span>        
        </span>   
        <span style="color: red" ng-show="sync && languages.length <= 1"><br>
            You must have at least two subtitles loaded!!!         
        </span>       
    </p>
    <table id="tableController">
            <tbody style="border-bottom: 1px solid black;" ng-repeat="l in languages | filter:{deleted: false}">
                <tr>
                    <td style="padding-top: 10px;padding-bottom: 5px; text-align: center">
                        {{l.name}}
                        <button class="roundButtom" ng-click="enableLanguage(l)" title="Hide this subtitle">{{l.enabled ? 'Hide': 'Show'}}</button>
                        <button class="roundButtom" ng-click="deleteTrack(l)" title="Delete this subtitle from this list">Delete</button>
                        <button class="roundButtom" ng-click="sync = true; l.show = !l.show; showSubtitlesTrack(l)" title="Show tracks from this subtitle">{{!l.show ? 'Show tracks': 'Hide tracks'}}</button>
                        <button class="roundButtom" ng-click="getLanguages()" title="Janvi test">Janvi</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        Font-size:
                        <input ng-change="changeFontSize(l)" class="fontAdjust" type="number" ng-model="l.fontSize"> px&nbsp; 
                        Sync:
                        <input title="Sync subtitle individually" class="fontAdjust" ng-change="changeTimeTrack(l)"
                            ng-model="l.offset" type="number" step="0.5" value="0"> s&nbsp;
                        <input ng-change="changeFontColor(l)" style="width: 20px !important;" class="fontAdjust" type="color" ng-model="l.color" title="Color">&nbsp; 
                        Pos:
                        <select id="position{{l.name}}" style="width: 60px !important;" ng-change="changePosition(l, false)" ng-model="l.position" title="Position">
                            <option class=".option" value="Bottom" selected="selected">Bottom</option>
                            <option class=".option" value="Top">Top</option>
                        </select>
                    </td>
                </tr>
            </tbody>
    </table>
    <br>
    <p class="file">
        Non western languages position (japanese, chinese, korean, etc)
        <select ng-init="nonWesternLanguagesPosition = 50" ng-change="nonWesternLanguages()" ng-model="nonWesternLanguagesPosition" title="Position">
            <option class=".option" ng-value="bottomPositionNonWesternLanguages">Bottom</option>
            <option class=".option" ng-value="50" ng-selected="selected">Top</option>
        </select>
    </p>
        Upload subtitle file (SRT or DFXP) 
    </p>
    <p class="file">
        <input class="file" ng-file-model="subtitleUpload" accept=".dfxp,.srt" type="file"/>
        <br>
        <br>
        Upload subtitle file (SRT or DFXP) 
    </p>
</div>

<div class="divController" style="left: {{450 * ($index+1)}}px" id="sub{{lang.name}}" ng-repeat="lang in languages | filter:{show: true} | limitTo: 2 track by $index">
    <span class="close" ng-click="lang.show = false" title="Close">❌</span>
    <span class="subName">{{lang.name}}</span>
    <div ng-init="lang.listName = lang.name + 'List'" style="width: 100%; height: 100%" class="overflow">       
        <div class="searchSubtitlesForNetflix">Search: 
            <input placeholder="min 3 characters" ng-change="jumpTrackTo(lang, lang.jumpTo, true)" ng-model="lang.jumpTo" list="{{lang.listNameSearch}}">
            <datalist id="{{lang.listName}}">
                <option ng-repeat="s in lang.subtitles track by $index" value="{{s.id}}">{{s.text}}</option>
            </datalist>
        </div> 
        <table class="subtitlesList" style="font-size: 14px;">
            <tbody>
                <tr ng-repeat="s in lang.subtitles track by $index">
                    <td id="{{s.id}}" style="width: 123px; padding-right: 5px; font-size: 12px">
                    <input title="{{subtitleSelectTitle}}" type="checkbox" ng-change="unmarkAllExcept(s, lang, languages)" ng-model="s.marked"> 
                    {{s.startTimeHumanReadable}} - {{s.endTimeHumanReadable}}</td>
                    <td>{{s.text}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--<div id="subtitlesBottom" style="
    color: white !important;
    z-index: 9999999999999;
    position: fixed;
    bottom: 0;
    font-size: 45px;
    width: 100%;
    text-align: center;
    user-select: text;
"></div>-->