  /* TURN ON OFF = display hidden & not hidden... that's it */
  .player-timedtext-text-container {
    display: none !important;
  }

  ::cue {
    font-size: 30px;
    font-weight: bolder;
    background: none;
    color: #f3f361;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    z-index: 999999999999;
    position: absolute;
    top: 50;
    right: 50; 
  }

  video::-webkit-media-text-track-display {
    overflow: visible !important;
    -webkit-box-sizing: border-box;
    background: none;
    padding: 8px;
    border-radius: 16px;
  }


  video::-webkit-media-text-track-container {
    overflow: visible !important;
    -webkit-transform: translateY(-10%) !important;
    transform: translateY(-10%) !important;
    position: relative;
  }
  