:root {
  --background-green: #EBF3D6;
  --text-green: #748828; 
  --light-grey: #ccc;
  --medium-grey: #888;
}

html {
  background-color: var(--background-green);
}

body {
  font-family: Arial, sans-serif;
}

img {
  display: block;
  width: 120px;  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container > div {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 35px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

.select-wrapper {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 17px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
}

select:hover {
  background-color: #f7f7f7;
}

.select-wrapper i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #aaa;
}

.select-wrapper:hover i {
  color: #2ecc71;
}

.select-wrapper select:focus + i {
  color: #2ecc71;
}

.onoff {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: row-reverse;
}

input[type="checkbox"] {
  display: none;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: gray;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.toggle:before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

.toggle-input:checked + .toggle:before {
  transform: translateX(20px);
}

.toggle-input:checked + .toggle {
  background-color: var(--background-green);
}

/* Link Styling */
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--medium-grey);
  color: var(--text-green);
}

a:hover {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #555;
}

#credits,
#bug-report, 
#support {
  font-size: 12px;
  color: var(--medium-grey);
  margin-top: 10px;
}

#separator {
  border-bottom: 1px solid var(--light-grey);
  margin-bottom: 10px;
  margin-top: 10px;

}

.availability {
  display: flex;
  justify-content: space-evenly;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 13px;
  color: var(--medium-grey);
}

.watchOtherContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#watchOther {  
  font-size: 16px;
  padding: 17px;
  width: 100%;

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  font-weight: 500;
  font-size: 15x;

  background-color: var(--background-green);
  color: var(--text-green);
  padding: 17px;

  display: flex;
  justify-content: center;
}

#watchOther a {
  color: inherit;
  text-decoration: none;
  border-bottom: none;
}

#watchOther a:hover {
  color: inherit;
  text-decoration: none;
  border-bottom: none;
}

.navigateToNetflix {
  display: block;
  font-size: 15px; 
  margin-bottom: 33px;
  color: var(--medium-grey);
  margin-top: 10px;
}